---
- name: Run Shell Script on Multiple Systems
  hosts: all
  become: yes

  vars:
    ansible_ssh_user: ansible  # Replace with your SSH username
    ansible_ssh_pass: NBansi613  # Or use SSH keys for authentication
    ansible_become_pass: NBansi613  # If become is used, replace with your sudo password

  tasks:
    - name: Copy the shell script to the remote machines
      copy:
        src: /home/karthik/swap.sh  # Path to your local shell script
        dest: /home/ansible/swap.sh  # Destination path on the remote machines
        mode: +x  # Make the script executable

    - name: Run the shell script
      command: /home/ansible/swap.sh  # Execute the shell script on remote machines
