---
- name: Ensure Users Presence with Roles and Passwords
  hosts: localhost
  become: true
  gather_facts: false

  vars:
    primary_user: ansible
    primary_password: NBansi613
    fallback_user: nobroker
    fallback_password: nobroker

  tasks:
    - name: Check and create users with primary credentials
      include_tasks: connect_with_credentials.yml
      vars:
        username: "{{ primary_user }}"
        password: "{{ primary_password }}"
        group: wheel
        output_label: "Primary Credentials"

    - name: Check and create users with fallback credentials
      include_tasks: connect_with_credentials.yml
      vars:
        username: "{{ fallback_user }}"
        password: "{{ fallback_password }}"
        group: users
        output_label: "Fallback Credentials"

    # Other tasks in your playbook

