---
- name: Ensure Users Presence with Roles and Passwords
  hosts: all
  become: true  
  gather_facts: true

  vars:
    primary_user: ansible
    primary_password: NBansi613
    fallback_user: nobroker
    fallback_password: nobroker
    admin_group: sudo  
    standard_user_group: users 
    output_file: "execution_output.txt"

  tasks:
    - name: Ensure the admin group exists
      group:
        name: "{{ admin_group }}"
        state: present

    - name: Check and create users with primary credentials
      block:
        - name: Create users with primary credentials
          user:
            name: "{{ item.name }}"
            password: "{{ item.password | password_hash('sha512') }}"
            state: present
            group: "{{ item.group }}"
          loop:
            - { name: "{{ fallback_user }}", password: "{{ fallback_password }}", group: "{{ standard_user_group }}" }
            - { name: "{{ primary_user }}", password: "{{ primary_password }}", group: "{{ admin_group }}" }
          register: user_creation_output
      rescue:
        - name: Handle errors and continue with fallback credentials
          set_fact:
            user_creation_output_failed: true
        - name: Set flag for SSH test to use fallback credentials
          set_fact:
            use_fallback_credentials: true

    - name: Ensure correct group memberships with primary credentials
      block:
        - name: Set flag for SSH test to use primary credentials
          set_fact:
            use_fallback_credentials: false
        - name: Ensure correct group memberships with primary credentials
          user:
            name: "{{ item.name }}"
            groups: "{{ item.groups }}"
          loop:
            - { name: "{{ fallback_user }}", groups: "{{ standard_user_group }}" }
            - { name: "{{ primary_user }}", groups: "{{ admin_group }}" }
          when: item.name != fallback_user
          register: group_membership_output
      rescue:
        - name: Handle errors and continue with fallback credentials
          set_fact:
            group_membership_output_failed: true
        - name: Set flag for SSH test to use fallback credentials
          set_fact:
            use_fallback_credentials: true

    - name: Update SSH credentials to fallback if primary credentials fail
      set_fact:
        ansible_ssh_user: "{{ fallback_user }}"
        ansible_ssh_pass: "{{ fallback_password }}"
      when: use_fallback_credentials | default(false)
      register: ssh_credentials_update_output

    - name: Test SSH connection
      command: echo "Testing SSH connection"
      ignore_errors: true
      changed_when: false
      check_mode: no  # Ensures the command is not actually executed in check mode
      register: ssh_test_output

    - name: Set flag if SSH test failed
      set_fact:
        ssh_test_failed: "{{ ssh_test_output.rc != 0 }}"
      when: "'{{ primary_user }}' in user_creation_output.results | map(attribute='item.name') | list"
      register: ssh_test_failed_output

    - name: Check and create 'nobroker' user as a standard user with fallback credentials
      block:
        - name: Set flag for SSH test to use fallback credentials
          set_fact:
            use_fallback_credentials: true
        - name: Check if 'nobroker' user exists
          command: id nobroker
          ignore_errors: true
          register: nobroker_user_check

        - name: Create 'nobroker' user as a standard user if not present
          user:
            name: nobroker
            password: "{{ fallback_password | password_hash('sha512') }}"
            state: present
            group: "{{ standard_user_group }}"
          when: nobroker_user_check.rc != 0

        - name: Check and create users with fallback credentials
          user:
            name: "{{ item.name }}"
            password: "{{ item.password | password_hash('sha512') }}"
            state: present
            group: "{{ item.group }}"
          loop:
            - { name: "{{ fallback_user }}", password: "{{ fallback_password }}", group: "{{ standard_user_group }}" }
            - { name: "{{ primary_user }}", password: "{{ primary_password }}", group: "{{ admin_group }}" }
          when: ssh_test_failed_output | default(false)
          register: fallback_user_creation_output
      rescue:
        - name: Handle errors with fallback credentials
          set_fact:
            fallback_user_creation_output_failed: true

    - name: Ensure correct group memberships with fallback credentials
      block:
        - name: Ensure correct group memberships with fallback credentials
          user:
            name: "{{ item.name }}"
            groups: "{{ item.groups }}"
          loop:
            - { name: "{{ fallback_user }}", groups: "{{ standard_user_group }}" }
            - { name: "{{ primary_user }}", groups: "{{ admin_group }}" }
          when: item.name != primary_user and ssh_test_failed_output
